{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col m-2">
            <form method="POST">
                {% csrf_token %}
                <label for="{{ form.username.id_for_label }}">Username:</label>
                {{ form.username }}
            
                <label for="{{ form.password.id_for_label }}">Password:</label>
                {{ form.password }}
                
                <button class="btn btn-light m-1" id="login-button">Login</button>
            </form>
            
            {% if form.errors %}
                <p>ID / Maaf, password salah atau belum terdaftar. Silahkan coba lagi.</p>
            {% endif %}
        </div>
    </div>
</div>


{% endblock content %}