{% extends 'base.html' %}
{% load static %}
{% block body %}


<div class="background-col">

  <div class="container">
  <header class="text-center py-5 mb-4">

       <h1 class="font-weight-bold head">Hello There!</h1>

  </header>
  </div>
	
   <div class="container">
     <div class="row">
       <!-- Team Member 1 -->
       <div class="col-xl-5 col-md-5">
         <div class="card border-0 shadow">
           <img src="{% static 'flower.jpg' %}" class="card-img-top" alt="...">
           <div class="card-body text-center">
             <h5 class="card-title mb-0">Nur Wasi Na'wa</h5>
             <ul class="list-unstyled mb-0">
               <!-- Instagram -->
               <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/nurwasinawa/" target="_blank">
                 <i class="fab fa-instagram text-black-50"> </i>
               </a>
              </ul>
             
           </div>
         </div>
       </div>
      </div>
   </div>
{% endblock body %}
